KatiFuse2/KatiJaxbAddress2/src/main/resources/schemas/Address2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="address2">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="numberOfStreet"/>
                <xs:element type="xs:string" name="nameOfStreet"/>
               <!-- <xs:element type="xs:string" name="postCode"/>
                <xs:element type="xs:string" name="residenceCountry"/>-->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>