KatiFuse2/KatiJaxbAddress1/src/main/resources/schemas/Address1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xs:element name="address1">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="housenumber"/>
        <xs:element type="xs:string" name="streetname"/>
        <xs:element type="xs:string" name="postcode"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="countrycode"/>
        <xs:element type="xs:string" name="currency"/>
      </xs:sequence>
    </xs:complexType>

  </xs:element>

</xs:schema>